<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    
</head>
<body>
    <header>
        <div>LOGO TIPO</div>
        <div><p>LUGAR DE LA BARRA DE BUSQUEDA</p></div>
        <div><p>Compra en cuotas y sin tarjeda de credito</p></div>
        
        <nav>
        <ul>
            <li><a href=""> ofertas</a></li>
            <li><a href=""> tiendas oficiales</a></li>
            <li><a href=""> vender</a></li>
            <li><a href=""> ayuda</a></li>
            <br>
            <li><a href="">Crea tu cuenta</a></li>
            <li><a href="">Ingresa</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
        </nav>
    </header>
    <section>
        <main>
            <div>
            <h2>Productos destacados:</h2>
        </div>
        <div>
            <article>
                <h2>
                    <ul>
                        <li>Sección: Basado en tu última visita</li>
                    </ul>
                </h2>
                <img src="/img/cafetera.jpg" alt="foto de la cafetera"> 
            </article>
        </div>
       
        </main>
    </section>
</body>
</html>