<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/233a2ea3ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
</html>

    <body>
        <header>
            <div class="conteiner">
                <div class="logo-barra-de-busqueda-compra-en-cuotas">
                    <nav class="contenedor-logo"><img src="/img/logo-mercado-liebre.svg" alt="Logo Tipo"  class="logo"></nav>
                    <h3 class="t-compra-en-cuotas"> <em class="t-compra-en-cuotas"> Compra en cuotas y sin tarjeda de credito<i class="fas fa-hand-holding-usd"></i></em></h3>
                </div>
                <nav id="barra-de-busqueda"><form method="get"><p class="barra-busqueda-con-lupita"><input type="search" placeholder="Buscar productos, marcas." name="busquedamodelos" list="listamodelos" required="" class="barrita-de-busqueda"><i><button type="submit" required="" class="lupita"><i class="fa-solid fa-magnifying-glass"></i></button></i></p></form></nav>
                <div class="icono-de-navegacion-login"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 17h-12v-2h12v2zm0-4h-12v-2h12v2zm0-4h-12v-2h12v2z"/></svg></div>
                <nav class="contenerdo-etiquetas"><ul class="conteiner-etiquetas-left">
                <li><a class="a" href="Ofertas">Ofertas  </a></li>
                <li><a class="a" href="#Tiendas oficiales"> Tiendas oficiales  </a></li>
                <li><a class="a" href="#Vender">Vender</a></li>
                <li><a class="a" href="#Ayuda">Ayuda</a></li></ul>
                <ul class="conteiner-etiquetas-right">
                <li><a class="a" href="#Crea tu cuenta">Crea tu cuenta  <i class="fa-solid fa-address-card"></i></a></li>
                <li><a class="a" href="/">Home   <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a class="a" href="#Mis compras">Mis compras   <i class="fas fa-shopping-basket"></i></a></li>
                </ul></nav>
            </div>
        </header>
        <main class="main-login">
            <section class="section-login">
                <div class="container container-login">
                <div class="col col-login" >
                    <h2 class=" text-center py-1">Bienvenidos</h2>
                    <form>
                        <div class="mb-3">
                            <label for="E-mail" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="E-mail" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
                        </div>
                        <div class="mb-4">
                            <label for="contraseña" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="contraseña">
                        </div>
                        <div class="mb-4 form-check">
                            <input type="checkbox" class="form-check-input" id="check1">
                            <label class="form-check-label" for="check1">Recordar cuenta</label>
                        </div>
                            <div class="d-grid iniciar-sesion">
                            <button type="submit" class="btn-home-inicio-sesion button-h">Ingresar</button>
                        </div>
                        <div class="my-4 no-tienes-cuenta">
                            <span>No tienes cuenta? <a href="/registro"> Registrate</a></span> <br>
                            <span>No recordas la contraseña? <a href="#">Recupera la contraseña</a></span>
                        </div>
                    </form> 
                </div>
            </div>
          </section>  
        </main>
        
    
    </body>

</html>